.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider img {
    width: 100%;
    display: none;
}

img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.audio-container audio {
    margin: auto;
    width: 90%;
    justify-content: center;
    display: flex;
}

h1 {
    text-align: center;
    color: rgb(195, 151, 29);
    font-size: 1.4rem;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(30, 30, 161);
}

footer {
    text-align: center;
    color: rgb(195, 151, 29);
    font-size: 1.4rem;
    font-family: 'Times New Roman', Times, serif;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}